.detail__content {
    display: flex;
    justify-content: center;
}

.detail__content-left,
.detail__content-right {
    width: 35%;
    overflow: hidden;
    margin: 5em;
}

.detail__img {
    width: 100%;
    aspect-ratio: 2 / 2.5;
    background-color: #D9D9D9;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.detail__img img {
    width: 100%;
}

.detail__item-name,
.detail__item-brand,
.detail__item-description--text {
    margin: 0;
}

.detail__item-brand {
    font-size: 0.8rem;
}

.detail__button a {
    display: block;
    text-align: center;
    text-decoration: none;
    width: 100%;
    padding: 0.3em 0;
    border: none;
    border-radius: 3px;
    background-color: #FF5555;
    color: #fff;
    cursor: pointer;
}

.detail__group {
    display: flex;
    margin-bottom: 1em;
}

.detail__group-inner {
    margin-right: 2em;
    text-align: center;
}

.detail__group-inner button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    padding: 0;
    appearance: none;
}

.detail__group-inner img {
    width: 1.5em;
    cursor: pointer;
}

.detail__group-inner p {
    margin: 0;
}

.detail__item-description,
.detail__item-info {
    font-size: 1.3rem;
    font-weight: bold;
}

.detail__item-description {
    margin: 0.7em 0;
}

.detail__item-description--text {
    margin-bottom: 3em;
}

.detail__group-item-info {
    margin-bottom: 1.8em;
}

.detail__group-item-info label {
    font-weight: bold;
    margin-right: 1.5em;
}

.detail__group-item-info--category {
    background-color: #D9D9D9;
    border-radius: 25px;
    padding: 0em 1em;
    font-size: 0.8rem;
}

.detail__group-item-info span {
    padding: 0em 1em;
    font-size: 0.8rem;
}