.detail__content {
    display: flex;
    justify-content: center;
}

.detail__content-left,
.detail__content-right {
    width: 30%;
    overflow: hidden;
    margin: 5em;
}

.detail__img {
    width: 100%;
    aspect-ratio: 2 / 2.5;
    background-color: #D9D9D9;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.detail__img img {
    width: 100%;
}

.detail__item-name,
.detail__item-brand,
.detail__item-description--text {
    margin: 0;
}

.detail__item-name {
    font-size: 2.2rem;
}

.detail__item-price {
    font-size: 1.8rem;
}

.detail__group {
    display: flex;
    margin-bottom: 1em;
}

.detail__group-inner {
    margin-right: 2em;
    text-align: center;
}

.detail__group-inner button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    padding: 0;
    appearance: none;
}

.detail__group-inner img {
    width: 2em;
    cursor: pointer;
}

.count {
    margin: 0;
    font-weight: bold;
}

.detail__button a {
    display: block;
    text-align: center;
    text-decoration: none;
    width: 100%;
    padding: 0.2em 0;
    border: none;
    border-radius: 3px;
    background-color: #FF5555;
    color: #fff;
    cursor: pointer;
    font-size: 1.5rem;
    font-weight: bold;
    margin: 1em 0;
}

.detail__item-description,
.detail__item-info {
    font-size: 1.7rem;
    font-weight: bold;
}

.detail__item-description {
    margin: 0.7em 0;
}

.detail__item-description--text {
    margin-bottom: 3em;
}

.detail__group-item-info {
    display: flex;
    align-items: center;
    margin-bottom: 1.8em;
}

.detail__group-item-info p {
    font-weight: bold;
    margin-right: 1.5em;
}

.detail__group-item-info--category {
    background-color: #D9D9D9;
    border-radius: 25px;
    padding: 0em 1em;
    font-size: 0.8rem;
}

.detail__group-item-info span {
    padding: 0em 1em;
    font-size: 0.8rem;
}

/* 以下、コメント欄スタイル */

.comment {
    margin-top: 5em;
}

.comment-user {
    display: flex;
    align-items: center;
    font-weight: bold;
    margin-bottom: 0.5em;
}

/* my-post クラスが適用された場合、コメントユーザー名を右寄せにする */
.my-post .comment-user {
    display: flex;
    justify-content: flex-end;
}

.comment-user span {
    margin: 0 0.5em;
}

.comment-img {
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 2.5em;
    aspect-ratio: 1 / 1;
    background-color: #D9D9D9;
    margin: 0;
}

.comment-img img {
    width: 110%;
}

.comment-text {
    margin: 0 0 1.5em;
    padding: 0.5em;
    background-color: #f0f0f0;
    border-radius: 5px;
}

.comment__form {
    margin-top: 5em;
}

.comment__form p {
    font-weight: bold;
    margin: 0;
}

.comment__form textarea {
    width: 100%;
    height: 5em;
}

.comment__form button,
.comment__form a {
    display: block;
    text-align: center;
    text-decoration: none;
    width: 100%;
    padding: 0.2em 0;
    border: none;
    border-radius: 3px;
    background-color: #FF5555;
    color: #fff;
    cursor: pointer;
    font-size: 1.5rem;
    font-weight: bold;
}

/* 以下、レスポンシブデザイン */

@media screen and (max-width: 480px) {
    .detail__content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .detail__content-left,
    .detail__content-right {
        width: 90%;
        overflow: hidden;
        margin: 0 0 1em;
    }

    .detail__img {
        width: 100%;
        aspect-ratio: 2 / 2.5;
        background-color: #D9D9D9;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}