.alert-success {
    padding: 2em;
    border-radius: 5px;
    font-weight: bold;
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
    position: fixed;
    top: 2.5em;
    right: 6em;
    z-index: 1000;
}

.alert-danger {
    padding: 2em;
    border-radius: 5px;
    font-weight: bold;
    color: #76000c;
    background-color: #f8d7da;
    border-color: #f5c6cb;
    position: fixed;
    top: 2.5em;
    right: 6em;
    z-index: 1000;
}

.header {
    display: flex;
    align-items: center;
    background-color: #000;
    height: 3.5em;
}

.header__content {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 3em;
}

.header__content img {
    width: 15em;
}

.search__form input {
    padding: 0.6em 1.5em;
    width: 27em;
    border-radius: 3px;
}

.header__nav ul {
    display: flex;
}

.header__nav li {
    padding: 0 1em;
}

.header__nav-menu a {
    color: #fff;
    text-decoration: none;
}

.header__button a {
    padding: 0.3em 1em;
    border: none;
    border-radius: 3px;
    background-color: #fff;
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.search__form-input::placeholder {
    color: #000;
}


/* 以下、管理ページサイドバー */
.container {
    display: flex;
    justify-content: space-between;
}

.sidebar ul {
    padding: 1em 0 0 0;
    width: 13em;
}

.sidebar ul a li {
    list-style: none;
    padding: 1em 2em;
}

.sidebar ul a {
    text-decoration: none;
    font-weight: bold;
    color: gray;
}

.sidebar ul a li:hover {
    background-color: rgb(255, 225, 225);
}

.sidebar ul a.active {
    color: red;
}

.container main {
    width: 100%;
    padding: 0 8vw;
}

/* 以下、ページネーションスタイル */
.pagination {
    display: -ms-flexbox;
    display: flex;
    padding-left: 0;
    list-style: none;
    border-radius: 0.25rem;
}

.page-link {
    position: relative;
    display: block;
    padding: 0.5rem 0.75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #ff2020;
    background-color: #fff;
    border: 1px solid #e6dede;
    text-decoration: none;
}

.page-link:hover {
    z-index: 2;
    color: #e81818;
    text-decoration: none;
    background-color: #ffefef;
    border-color: #e6dede;
}

.page-link:focus {
    z-index: 2;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.page-item:first-child .page-link {
    margin-left: 0;
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
}

.page-item:last-child .page-link {
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
}

.page-item.active .page-link {
    z-index: 1;
    color: #fff;
    background-color: #FF5555;
    border-color: #e6dede;
}

.page-item.disabled .page-link {
    color: #FF5555;
    pointer-events: none;
    cursor: auto;
    background-color: #fff;
    border-color: #e6dede;
}

.pagination-lg .page-link {
    padding: 0.75rem 1.5rem;
    font-size: 1.25rem;
    line-height: 1.5;
}

.pagination-lg .page-item:first-child .page-link {
    border-top-left-radius: 0.3rem;
    border-bottom-left-radius: 0.3rem;
}

.pagination-lg .page-item:last-child .page-link {
    border-top-right-radius: 0.3rem;
    border-bottom-right-radius: 0.3rem;
}

.pagination-sm .page-link {
    padding: 0.25rem 0.5rem;
    font-size: 0.875rem;
    line-height: 1.5;
}

.pagination-sm .page-item:first-child .page-link {
    border-top-left-radius: 0.2rem;
    border-bottom-left-radius: 0.2rem;
}

.pagination-sm .page-item:last-child .page-link {
    border-top-right-radius: 0.2rem;
    border-bottom-right-radius: 0.2rem;
}

/* 以下、レスポンシブデザイン */
@media screen and (max-width: 1100px) {

    .search__form input {
        padding: 0.6em 1em;
        width: 20em;
        border-radius: 3px;
    }
}

@media screen and (max-width: 768px) {

    .header__content {
        padding: 0 1em;
        font-size: 0.9rem;
    }

    .header__content img {
        width: 12em;
    }

    .search__form input {
        padding: 0.6em 1em;
        width: 15em;
        border-radius: 3px;
    }

    .container {
        display: flex;
        flex-direction: column;
    }

    .sidebar ul {
        display: flex;
        justify-content: space-around;
        padding: 1em 0 0 0;
        width: 100%;
        padding: 0;
    }

    .sidebar ul a li {
        list-style: none;
        padding: 1em 0.5em;
    }
}

@media screen and (max-width: 480px) {

    .header__content {
        padding: 0 1em;
        font-size: 0.7rem;
    }

    .header__content img {
        width: 9em;
    }

    .search__form input {
        padding: 0.4em 0.8em;
        width: 12em;
        border-radius: 3px;
    }

    .header__nav ul {
        display: flex;
        flex-direction: column;
    }

    .header__button a {
        padding: 0.3em 0.8em;
        border: none;
        border-radius: 3px;
        background-color: #fff;
        color: #000;
        text-decoration: none;
        cursor: pointer;
    }

    .container {
        display: flex;
        flex-direction: column;
    }

    .sidebar ul {
        display: flex;
        justify-content: space-between;
        padding: 1em 0 0 0;
        width: 100%;
        padding: 0;
    }

    .sidebar ul a li {
        list-style: none;
        padding: 1em 0.5em;
    }
}