.login__content {
    margin: 0 auto;
    text-align: center;
    width: 40%;

}

.login__content h2 {
    padding: 1.5em 0;
}

.form__group {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-bottom: 3em;

}

.form__group label {
    font-weight: bold;
}

.form__group input {
    width: 100%;
    padding: 0.7em;
    border: 1px solid gray;
    border-radius: 3px;
}

.form__button {
    margin: 4em 0 1em;
}

.form__button-submit {
    width: 100%;
    padding: 0.7em 0;
    border: none;
    border-radius: 3px;
    background-color: #FF5555;
    color: #fff;
    cursor: pointer;
}

.register-link {
    text-decoration: none;
    font-size: 0.7rem;
}

.error {
    color: red;
}

/* 以下、レスポンシブデザイン */

@media screen and (max-width: 768px) {
    .login__content {
        width: 60%;
    }
}

@media screen and (max-width: 480px) {
    .login__content {
        width: 70%;
    }
}