.sell__content {
    margin: 0 auto;
    width: 40%;
}

.sell__heading {
    text-align: center;
}

.sell__content h1 {
    margin: 0;
    padding: 1.2em 0;
}

.form__group {
    margin-bottom: 3em;
}

.form__group p {
    margin: 0;
    font-weight: bold;
    font-size: 1.5rem;
    color: gray;
}

.line {
    height: 1px;
    background-color: gray;
    margin-bottom: 1em;
}

.form__group-input--img {
    width: 100%;
    height: 10em;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px dotted gray;
    border-radius: 3px;

}

.form__group-input--img input {
    display: none;
}

.form__group-input--img label {
    color: red;
    border: 1px solid red;
    padding: 0.3em 1em;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
}

.form__group-input {
    margin-bottom: 1em;
    display: flex;
    flex-direction: column;
}

.form__group label {
    font-weight: bold;
}

.form__group-input input,
.form__group-input select {
    width: 100%;
    padding: 0.7em;
    border: 1px solid gray;
    border-radius: 3px;
}

.price {
    position: relative;
}

.price span {
    font-weight: bold;
    position: absolute;
    left: 0.8em;
    top: 50%;
    transform: translateY(-50%);
}

.price input {
    padding-left: 20px;
    text-align: right;
}

.form__button {
    margin: 4em 0 3em;
}

.form__button-submit {
    width: 100%;
    padding: 0.7em 0;
    border: none;
    border-radius: 3px;
    background-color: #FF5555;
    color: #fff;
    cursor: pointer;
}

.error {
    color: red;
}

/* 以下、レスポンシブデザイン */

@media screen and (max-width: 768px) {
    .sell__content {
        width: 60%;
    }
}

@media screen and (max-width: 480px) {
    .sell__content {
        width: 70%;
    }
}