.user-management {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.user-management__header {
    margin: 1em 0;
}

.user-management__search {
    margin-bottom: 2em;
    display: flex;
}

.search-form {
    display: flex;
}

.search-form img {
    margin-left: -2em;
    width: 20px;
    height: auto;
}

.user-management__search input {
    padding: 0.7em 1em;
    border-radius: 5px;
    border: 1px solid #D9D9D9;
    background-color: #f0f0f0;
}

.search-name {
    width: 30em;
}

.search-date {
    margin-left: 2em;
}

.user-management__search button {
    margin-left: 2em;
    padding: 0.7em 1em;
    border: none;
    border-radius: 3px;
    background-color: #FF5555;
    color: #fff;
    cursor: pointer;
}

.user-management table,
.user-management th,
.user-management td {
    border: 1px solid black;
}

.user-management th {
    padding: 0.5em 1em;
    background-color: #D9D9D9;
}

.user-management td {
    padding: 0.2em 1em;
}

.name-cell {
    width: 11em;
}

.email-cell {
    width: 23em;
}

.user-management__table button {
    padding: 0.2em;
    border: none;
    border-radius: 3px;
    background-color: #FF5555;
    color: #fff;
    cursor: pointer;
}

/* コメントの全文表示ポップアップ */
.popup {
    position: absolute;
    background-color: white;
    border: 1px solid #ccc;
    padding: 5px;
    max-width: 300px;
    word-wrap: break-word;
    z-index: 1000;
}

/* ページネーション */
.pagination {
    margin-top: 1em;
}